#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
.container h1 {
  color: white;
}
body {
    background-color: red;
}

div {
    display: block;
}

.top-bar {
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 10;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    line-height: 0;
    top: 0;
}
